
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_altmyelin_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_altmyelin_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_CTRL_psw_0_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_CTRL_psw_0_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_CTRL_psw_20_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_CTRL_psw_20_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_iTBS_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_iTBS_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_long_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_long_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_0.2_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_0.2_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_0.4_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_0.4_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_0.6_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_0.6_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_0.8_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_0.8_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_0_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_0_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_1.2_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_1.2_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_1.4_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_1.4_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_1.6_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_1.6_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_12_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_10_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_10_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_12_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_14_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_14_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_15_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_15_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_1_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_1_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_20_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_20_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_2_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_2_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_3_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_3_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_4_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_4_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_5_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_5_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_6.477_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_6.477_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_6_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_6_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_7_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_7_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_8.487_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_8.487_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_8_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_8_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_9_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_psw_9_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_sham_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_sham_37C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_shortnode_21C.mat
SoniaScripts/Cullen2018_R0_Main/Cullen2018Cortex_shortnode_37C.mat
SoniaScripts/Cullen2018_R0_Main/membrane_potential_long_21C.txt
SoniaScripts/Cullen2018_R0_Main/membrane_potential_long_37C.txt
SoniaScripts/Cullen2018_R0_Main/membrane_potential_sham_21C.txt
SoniaScripts/Cullen2018_R0_Main/membrane_potential_sham_37C.txt
SoniaScripts/Cullen2018_R0_Main/psws.txt
SoniaScripts/Cullen2018_R0_Main/time_vector_long_21C.txt
SoniaScripts/Cullen2018_R0_Main/time_vector_long_37C.txt
SoniaScripts/Cullen2018_R0_Main/time_vector_sham_21C.txt
SoniaScripts/Cullen2018_R0_Main/time_vector_sham_37C.txt
SoniaScripts/MRT_JPN_R0_Main/membrane_potential_long_21C.txt
SoniaScripts/MRT_JPN_R0_Main/membrane_potential_long_37C.txt
SoniaScripts/MRT_JPN_R0_Main/membrane_potential_sham_21C.txt
SoniaScripts/MRT_JPN_R0_Main/membrane_potential_sham_37C.txt
SoniaScripts/MRT_JPN_R0_Main/MTR2024_altmyelin_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_altmyelin_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_CTRL_psw_0_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_CTRL_psw_0_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_CTRL_psw_20_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_CTRL_psw_20_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_iTBS_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_iTBS_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_long_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_long_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_0.2_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_0.2_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_0.4_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_0.4_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_0.6_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_0.6_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_0.8_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_0.8_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_0_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_0_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_1.2_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_1.2_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_1.4_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_1.4_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_1.6_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_1.6_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_10_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_10_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_12_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_12_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_14_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_14_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_15_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_15_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_1_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_1_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_20_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_20_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_2_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_2_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_3_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_3_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_4_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_4_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_5_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_5_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_6.477_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_6.477_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_6_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_6_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_7_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_7_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_8.487_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_8.487_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_8_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_8_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_9_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_psw_9_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_sham_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_sham_37C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_shortnode_21C.mat
SoniaScripts/MRT_JPN_R0_Main/MTR2024_shortnode_37C.mat
SoniaScripts/MRT_JPN_R0_Main/psws.txt
SoniaScripts/MRT_JPN_R0_Main/time_vector_long_21C.txt
SoniaScripts/MRT_JPN_R0_Main/time_vector_long_37C.txt
SoniaScripts/MRT_JPN_R0_Main/time_vector_sham_21C.txt
SoniaScripts/MRT_JPN_R0_Main/time_vector_sham_37C.txt
*.asv
*.txt
SoniaScripts/MTR_JPN_R2_Main/MTR2024_altmyelin_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_altmyelin_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_CTRL_psw_0_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_CTRL_psw_0_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_CTRL_psw_20_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_CTRL_psw_20_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_iTBS_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_iTBS_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_long_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_long_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_0.2_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_0.2_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_0.4_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_0.4_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_0.6_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_0.6_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_0.8_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_0.8_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_0_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_0_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_1.2_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_1.2_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_1.4_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_1.4_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_1.6_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_1.6_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_10_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_10_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_12_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_12_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_14_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_14_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_15_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_15_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_1_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_1_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_20_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_20_37C.mat

SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_2_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_2_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_3_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_3_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_4_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_4_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_5_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_5_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_6.477_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_6.477_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_6_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_6_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_7_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_7_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_8.487_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_8.487_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_8_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_8_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_9_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_psw_9_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_sham_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_sham_37C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_shortnode_21C.mat
SoniaScripts/MTR_JPN_R2_Main/MTR2024_shortnode_37C.mat
*.mat
SoniaScripts/comparing_code.m
*.png
*.jpg
*.pdf
SoniaScripts/MTR_JPN_R_Conductance/untitled.fig
SoniaScripts/MTR_JPN_R_Conductance/11.03 cond x psw.fig
